<template>
  <div class="flex justify-center">
    <div class="col-6 q-pt-xl">
      <h2>Compra de Marmitex</h2>
      <div class="row">
        <div class="col">
          <q-input v-model="quantidade" stack-label="Quantidade" type="number"/>
        </div>
        <div class="col self-center">
          <q-btn
            color="primary"
            size="sm"
            label="+"
            @click="quantidade++"
          />
          <q-btn
            color="primary"
            size="sm"
            label="-"
            @click="quantidade--"
            :disable="quantidade <= 1"
          />
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <q-datetime stack-label="Horário Retirada"
                      format="DD/MM/YYYY HH:mm:ss"
                      v-model="horarioRetirada"
                      type="datetime"
                      :value="horarioRetirada"
                      @change="val => { horarioRetirada = val }"/>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <q-btn color="primary" label="Comprar" @click="sendServer"/>
      </div>
    </div>
  </div>
</template>

<script>
import {Notify} from 'quasar'

export default {
  name: 'marmitex',
  data: function () {
    return {
      horarioRetirada: new Date(),
      quantidade: 1,
      userID: 1
    }
  },
  methods: {
    sendServer: function () {
      this.$restApiResources.marmitex({
        'horarioRetirada': this.horarioRetirada,
        'quantidade': this.quantidade,
        'userID': this.userID
      }).then(sucesso => {
        Notify.create({message: 'Marmitex Comprado com Sucesso!!', type: 'positive', position: 'top-right'})
      }).catch(error => {
        Notify.create({message: error.response === undefined ? error.message : error.response.data,
          type: 'negative',
          position: 'top-right'})
      })
    }
  }
}
</script>

<style scoped>

</style>
