  <template>
  <div class="flex justify-center">
    <q-table
      title='Sessões'
      :data="cadeiras"
      :columns="columns"
      row-key="id"
    >
    </q-table>

    <div v-for="(sessao) in cadeiras" :key="sessao.id">
      {{sessao}}
  </div>
  </div>
</template>

<script>

export default {
  name: 'batata',
  data: function () {
    return {
      cadeiras: [],
      columns: [
        {
          name: 'sessao',
          label: 'Horário Sessao',
          field: 'sessao'
        },
        {
          name: 'inicioSesao',
          label: 'Inicio Sessão',
          field: 'inicioSessao'
        },
        {
          name: 'Fimsessao',
          label: 'Fim Sessão',
          field: 'fimSessao'
        },
        {
          name: 'status',
          label: 'Status',
          field: 'statusSessaoPojo'
        }
      ]
    }
  },
  methods: {
    getSessao: function () {
      this.$restApiResources.listaSessao(1, 0, 100).then(response => {
        this.cadeiras = response.data
        console.log(this.cadeiras)
      })
    }
  },
  beforeMount () {
    this.getSessao()
  }
}
</script>

<style scoped>

</style>
