<template>
  <div class="flex justify-center">
    <div class="col-6 q-pt-xl">
      <h2>Cadeiras</h2>
      <div v-for="(cadeira) in cadeiras" :key="cadeira.id">

        <q-btn
          :color="!cadeira.ocupada ?  'primary' : 'red'"
          size="md"
          :label=cadeira.id
          :id=cadeira.id
          @click="trataSelecionado(cadeira.id)"
          :disable="(selecionado != '' && selecionado != cadeira.id) || cadeira.ocupada"
        />
      </div>
      <br>
      <q-select
        float-label="Sessões"
        v-model="sessao"
        :options="sessoes"
      />
      <br>
      <div class="row">
        <q-btn color="primary" label="Reservar" @click="enviaReqCriacao" :disable="selecionado === '' || sessao === '' "/>
      </div>
    </div>
  </div>
</template>

<script>
import {Notify} from 'quasar'

export default {
  name: 'sessao',
  data: function () {
    return {
      cadeiras: [],
      idUser: 1,
      sessao: '',
      selecionado: '',
      sessoes: [{value: '17:45:00', label: '17:45:00'},
        {value: '18:05:00', label: '18:05:00'},
        {value: '18:30:00', label: '18:55:00'},
        {value: '19:00:00', label: '19:25:00'}
      ],
      backCSS: {
        'background-color': 'green'
      }
    }
  },
  methods: {
    getCadeiras: function () {
      this.$restApiResources.cadeirasResource().then(response => {
        this.cadeiras = response.data
        console.log(this.cadeiras)
      })
    },
    trataSelecionado: function (id) {
      console.log(id)
      console.log(this.selecionado)
      if (this.selecionado === id) {
        this.selecionado = ''
      } else {
        this.selecionado = id
      }
    },
    enviaReqCriacao: function () {
      let data = {'sessao': this.sessao, 'idUser': 1, 'cadeiraID': this.selecionado}
      this.$restApiResources.criaSessao(data)
        .then(sucesso => {
          Notify.create({message: 'Reserva Efetuada com sucesso!!', type: 'positive', position: 'top-right'})
        }).catch(error => {
          Notify.create({message: error.response === undefined ? error.message : error.response.data,
            type: 'negative',
            position: 'top-right'})
        })
    }
  },
  beforeMount () {
    this.getCadeiras()
  }
}
</script>

<style scoped>

</style>
