<template>
  <q-layout view="hHh LpR lFf">
    <q-layout-header>
      <q-toolbar
        color="primary">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu">
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title>
          R.U
          <div slot="subtitle">UFU</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>
          <div class="row">
            <div class="col">
              <img :src="profilePicture" width="140px" height="80px"/>
            </div>
            <div class="col self-center">
              {{usuario}}
            </div>
          </div>
        </q-list-header>
        <q-item link :to="{name: 'marmitex'}" exact>
          <q-item-side icon="fas fa-utensils"/>
          <q-item-main label="Marmitex"/>
        </q-item>
        <q-item link :to="{name: 'sessao'}">
          <q-item-side icon="fas fa-clock"/>
          <q-item-main label="Sessão"/>
        </q-item>
        <q-item link :to="{name: 'batata'}">
          <q-item-side icon="fas fa-clock"/>
          <q-item-main label="Sessão List"/>
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import {openURL} from 'quasar'
import Profile from 'src/assets/horse21.png'

export default {
  name: 'private',
  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      usuario: 'Vitor Hugo',
      profilePicture: Profile
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
